html
    head
        title git profiles!
        link(rel="stylesheet", href="/css/styles.css")
    body.resume
        main
            header
                div.container
                    img.avatar(src=user.avatar_url)
                h1 Bienvenu #{user.name}

                p #{user.description}